<div class="w-100 px-4">
    <img [src]="user?.avatar" [alt]="user?.last_name" class="w-100">
    <p>{{ user?.first_name }} {{ user?.last_name | uppercase }}</p>
    
    <button type="button" 
        [ngClass]="inTeam ? addButton.classToRemove : (isSelected ? addButton.classSelected : addButton.class)" 
        (click)="inTeam ? removeUser(addButton.user) : addNewUser(addButton.user)"
        [disabled]="isSelected && !inTeam"
    >
        {{ inTeam ? addButton.titleInTeam : (isSelected ? addButton.titleSelected : addButton.title) }}
    </button>
</div>